<div class='container'>
 <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <br /><br />
   <strong>サイト概要</strong>
   <p>車を買った人や、買いたい人達のレビューサイトです。<br />
   いいね機能を取り入れており、買いたい人達が、買った人達とお互いにコメントして情報交換できるような、コミュニケーションが取れるサイトです。</p>
   <br /><br />
   <strong>サイトテーマ</strong>
   <p>多くの人達に車に乗ってもらいたいというテーマで、情報交換できる便利なツールのようなサイトを作りました。<br />
   自分が車の製造業で働いているということもあり、車が好きで多くの人達にも車に乗ってもらいたいと思い、より多くの人達が車を買ってもらえるサイトです。</p>
   <br /><br />
   <strong>テーマを選んだ理由</strong>
   <p>自分が車を買った時、買いたいと思っている車を持っている方達と情報を共有したいと思ったことが、このテーマを選んだ理由です。<br />
   このサイトを通して、車を買ってよかったと思った方達が、コメントして車を買いたいと思う 人達が増えていって欲しいという願いが、このサイトを作ろうと思ったきっかけです。</p>
   <br /><br />
   <strong>ターゲットユーザ</strong>
   <p>「車に興味を持ち始めた人」<br />「車を購入してよかったと思った人」</p>
   <br /><br />
   <strong>主な利用シーン</strong>
   <p>「車の購入を検討している時」<br />「車の購入をしてよかったと思った時」</p>
  </div>
 </div>
</div>
