<br></br>
<h3 class="text-center text-primary"><strong><%=flash[:notice] %></strong></h3>
<h1 class="text-center">
 welcome to<i class="fas fa-car"></i><strong>Car Access</strong>!!
</h1>
<div class="box0">
 <div class="box1 aaa"></div>
 <div class="box2 aaa"></div>
 <div class="box3 aaa"></div>
 <div class="box4 aaa"></div>
 <div class="box5 aaa"></div>
 <div class="box6 aaa"></div>
 <div class="box7 aaa"></div>
 <div class="box8 aaa"></div>
 <div class="box9 aaa"></div>
 <div class="box10 aaa"></div>
 <div class="box11 aaa"></div>
 <div class="box12 aaa"></div>
</div>
